body {
  color: #FFD700;
}
a {
  color: #FFD700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
p {
  font-size: 20px;
  font-family: Montserrat;
  text-align: left;
}
th, td {
  text-align: left;
  padding: 8px;
}
@media (min-width: 1200px) {
  .alert {
    position:fixed;
    top: 50%;
    left: 55%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
  }
}
.mainDiv {
  background-color: black;
}
.mainh1 {    
  text-align: center; 
  margin-top: 5%;  
  margin-bottom: 5%;
}
.profileh1 {    
  text-align: center; 
  margin-top: 7%;  
  margin-bottom: 10%;
}
.listSelect {  
  width: 22%;
  float: left;
}
.floating {    
  width: 22%;
  float: right;
}
.everFlowIt {    
  text-align: center;
}
.centus {    
  text-align: center;
}
.dest {    
  margin-top: 10px
}
.containerB {    
  min-height: 75vh;
}
.loader {    
  height:50vh;
}
.loader-child {    
  position: absolute;
  margin-top: 10%;
  left: 46%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}