<!-- Audio -->
<audio autoplay><source src="music/intro.mp3" type="audio/mpeg"></audio>
<link href="css/firtsCss.css" rel="stylesheet">
<div class="divA">
    <img src="//cssanimation.rocks/demo/starwars/images/star.svg" alt="Star" class="star">
    <img src="//cssanimation.rocks/demo/starwars/images/wars.svg" alt="Wars" class="wars">
    <h2 class="byline" id="byline">Challenge</h2>
</div>